* {
    font-family: 'Mulish', sans-serif;
  
}
.display-size{
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 50px;
}
.red-bold{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}
.black-bold{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title img{
    padding-right: 16px;
    width: 48px;
    height: 56.008px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #424247;
}
.nav-home{
    color: #FF5400;
}
.nav-bur{
    display: none;
}

/* banner section */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
}
.banner h3{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 5px;
    text-align: center;
}
.banner p{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    margin-left: 247px;
    margin-right: 247px;
}
.form{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 48px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 25%;
    margin-right: 18%;
    justify-content: space-between;

    display: flex;
    justify-content: center;
    gap: 24px;
    
}
#where, #when, #select-type, .icon{
    border: 1px solid #fff;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;

    color: rgba(19, 19, 24, 0.50);
    padding-left: 16px;
   
    font-size: 1rem;
    font-weight: 400;

}

.selection{
    padding-right: 20px;
    width: 174px;
    height: 52px;
}
.btn-primary{
    background: #FF5400;
    border: 1px solid #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.icon{
    display: flex;
    align-items: center;
    background: #FF5400;
    border: 1px solid #FF5400;
    border-radius: 8px;

}

/* tour section */
.tour-section{
    display: flex;
    margin-top: 100px;
    
}
.head-global{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.para-global{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    
}
.btn-global{
    margin-top: 32px;
}
.btn-global button{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 1px solid #FF5400;
    padding: 14px 34px 14px 34px;
}
.description{
    margin-right: 40px;
}

/* why choose us */
.why-bro{
    margin-top: 100px;
    text-align: center;
    
}
.hotel-map{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 48px;
}
.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 600px;
    height: 284px;
}
.map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 600px;
    height: 284px;
}
.hotel , .map , .price{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}
.price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 600px;
    height: 284px;
}
.hotel img{
    height: 64px;
    width: 64px;
    padding-bottom: 15px;
}
.hotel-map h3{
    color: #131318;
    text-align:left;
    font-size: 1.5rem;
    font-weight: 800;
}
.why-bro img{
    height: 64px;
    width: 64px;
}
.extra{
    display: flex;
    justify-content: center;
}

/* deals and discount */

.bg-1{
    background-image: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 24px; 
}
.bg-2{
    background-image: url('Images/Group\ 40.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 24px; 
}
.deals{
    display: flex;
    flex-direction: column;
}
.deals-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deals-description h3{
    color: #131318;   
    font-size: 2.5rem;
    font-weight: 800;
}
.card{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 56px 56px 56px 535px;
    padding: 50px;
}
.card h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.top{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.top img{
    height: 24px;
    width: 24px;
}
h4{
    color: #FF5400;
}
.left{
    margin: 56px 535px 56px 56px;
}
/*perfect place*/
.para-local{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
}
.tata{
    width: 96%;
}
.tour-img{
    background-image: url('Images/Group\ 40089.png');
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    border-radius: 16px;
    margin-top: 70px;
}
.watch{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
    padding-left: 120px;
}
.line{
    width: 76%;
    padding-left: 20px;
    padding-top: 100px;

}
.hori {
   border: 100% solid red;

}
.horr {
   
}
.line img{
    padding-bottom: 40px;
}

/* footer */

footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
}
.footer-title img{
    padding-right: 16px;
    width: 40px;
    height: 40px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-title{
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.social-icon{
    margin-top:30px;
}
.footer-hr {
    width: 70%;
    margin: 50px 0;
    background: rgba(19, 19, 24, 0.10);
    
}
/* group tour */
.red{
    color: red;
}

/* subscribe */
.travel-offer-subscribe{
    display: flex;
    justify-content: space-between;
}
.subscribe{
    height: 422px;
    width: 43%;
    border: 1px solid #FF5400;
    padding: 40px;
    border-radius: 16px;

}
.subscribe form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}
.form-style {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-top: 25px;
    padding-left:40px;
    padding-bottom: 25px;
}
#name, #mail{
    font-size: 16px;
}
form .btn-global{
    display: flex;
    align-items: center;
   
    
}
.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dot button{
    font-size: 20px;
    border-right: 39px;
    width: 100%;
}
.offer-part {
    border-radius: 16px;
    background: #FF5400;
    width: 40%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-19.628deg);
    position: absolute;
    left: 52%;
    bottom: 20%;
}
.travel-offer {
    height: 422px;
    width: 50%;
    /* border: 2px solid blue; */
    position: relative;

}

.travel-offer img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}
.travel-site {
    color: #FFF;
    text-align: center;
    font-size: 24px;
}
.offer-70 {
    color: #FFF;
    font-family: Mulish;
    font-size: 26px;
    text-align: center;
    font-weight: 800;
}

/* spot */
.bye{
    margin-top: 100px;
}
.destination {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}
.zero{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spot {
    width: 100%;
    position: relative;
}

.spot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.mal{
    grid-column: span 12;
}

.indo{
    grid-column: span 12;
}

.sri{
    grid-column: span 10;
}

.america{
    grid-column: span 8;
}

.kashmir{
    grid-column: span 6;
}

.bangla{
    grid-column: span 8;
}

.bandar{
    grid-column: span 16;
}



/* reponsive media query for mobile */
@media screen and (max-width: 600px) {
    .display-size{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 20px;
    }
    .black-bold, .red-bold{
        font-size: 1.4rem;
        font-weight: 800;
    }
    .nav-item{
        display: none;
    }
    .nav-bur{
        display: block;
        height: 30px;
        width: 30px;
    }

    /* banner */
    .banner h3{
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin-top: 45px;
        margin-bottom: 5px;
        text-align: center;
    }
    .banner p{
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        margin-top: 8px;
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 24px;
        align-items: center;
        margin-top: 48px;
        padding: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        justify-content: space-between;
    }
    #where{
        width: 153px;
    }
    .icon{
        width: 140px;
    }
    .banner{
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 600px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        
    }

    /*tour section*/
    .tour-section{
        flex-direction: column;
    }
    .btn-global{
        margin-bottom: 24px;
    }
    .tour-img{
        width: 98%;
    }

    /* why choose us */

    .hotel-map{
        flex-direction: column;
        align-items: center;
        
    }
    .hotel, .map, .price{
        
        height: 289px;
        width: 335px;
        flex-shrink: 0;
    }
    .hotel{
        margin-bottom: 24px;
    }
    
    /* deals and discount */
    .card{
        margin: 0;
        margin: 120px 20px 20px 20px;
        padding: 0;
        padding-left: 10px;
    }
    /* offer */
    .travel-offer-subscribe{
        flex-direction: column;
    }
    .subscribe{
        width: 80%;
        margin-bottom: 25px;
    }
    .travel-offer{
        width: 100%;
        margin-bottom: 25px;
    }
    .offer-part {
        
        left: 45%;
        bottom: 1%;
    
    }
    /* spot */
    .spot img{
        width: 100%;
        height: 175.393px;
        flex-shrink: 0;
    }
    .destination{
        display: flex;
        flex-direction: column;
        
    }
    .mal{
        grid-column: span 1;
    }
    
    .indo{
        grid-column: span 1;
    }
    
    .sri{
        grid-column: span 1;
    }
    
    .america{
        grid-column: span 1;
    }
    
    .kashmir{
        grid-column: span 1;
    }
    
    .bangla{
        grid-column: span 1;
    }
    
    .bandar{
        grid-column: span 1;
    }
    .tt{
        margin-top: 100px;
    }
}
