* {
    font-family: 'Mulish', sans-serif;
  
}
.display-size{
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 50px;
}
.red-bold{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}
.black-bold{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title img{
    padding-right: 16px;
    width: 48px;
    height: 56.008px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #424247;
}
.nav-home{
    color: #FF5400;
}

/* banner section */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
}
.banner h3{
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 5px;
    text-align: center;
}
.banner p{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    margin-left: 247px;
    margin-right: 247px;
}
.form{
    display: inline-flex;
    padding: 16px;
    gap: 24px;
    align-items: center;
    margin-top: 48px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 185px;
    margin-right: 185px;
    justify-content: space-between;
}
#where, #when, #select-type, .btn-primary{
    border: 1px solid #fff;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;

    color: rgba(19, 19, 24, 0.50);
    padding-left: 16px;
    padding-right: 40px;
    font-size: 1rem;
    font-weight: 400;

}
.selection{
    padding-right: 60px;
}
.btn-primary{
    background: #FF5400;
    border: 1px solid #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.icon{
    display: flex;
    align-items: center;
    background: #FF5400;
    border-radius: 8px;
}
.icon i{
    margin-left: 18px;
}
